{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Emua Herbal Treatment</title>
    <link rel="stylesheet" href="{% static './herbal.css'%}" />
  </head>
  <body>
    {% include 'topnav.html' %}
    <div class="wrapper flex_align_justify">
      <div class="tc_wrap">
        <div class="tabs_list">
          <ul>
            <li data-tc="tab_item_1" class="active">Autoimmune Conditions</li>
            <li data-tc="tab_item_2">Viral STDs (herpes, HPV, ebv)</li>
            <li data-tc="tab_item_3">Detox</li>
            <li data-tc="tab_item_4">Cure for Hepatitis B virus (HBV)</li>
            <li data-tc="tab_item_5">Other Health Issues</li>
          </ul>
        </div>
        <div class="tabs_content">
          <div class="tab_head">
            <h2>Our Treatment</h2>
            <!-- <p>Doctor Emua is available at any given time to help you. Listed below are some of the illnesses, Diseases and more he’s popularly known and recognized worldwide for curing with his herbal remedies.</p> -->
          </div>
          <div class="tab_body">
            <div class="tab_item tab_item_1">
              <h3>Autoimmune Conditions</h3>
              <p>
                Doctor. Emua's herbal treatment harnesses the power of natural
                plant extracts and essential oils known for their
                immune-modulating, anti-inflammatory, and antioxidant
                properties. These ingredients are carefully selected based on
                their historical use in traditional medicine and supported by
                scientific research. By incorporating Dr. Emua's herbal
                treatment into their healthcare regimen, individuals with
                autoimmune conditions can potentially experience several
                benefits. Balancing the Immune System: The herbal treatment aims
                to modulate and restore the immune system's balance, helping to
                regulate the exaggerated immune response characteristic of
                autoimmune conditions. By supporting immune function, the
                treatment may help reduce inflammation and prevent further
                damage to tissues and organs. Anti-Inflammatory Effects: Many of
                the herbal ingredients used in Dr. Emua's treatment possess
                potent anti-inflammatory properties. Chronic inflammation is a
                hallmark of autoimmune conditions, and reducing inflammation can
                alleviate symptoms such as pain, swelling, and tissue damage.
                Antioxidant Support: Antioxidants are known to protect cells
                from oxidative stress and damage caused by free radicals. By
                incorporating antioxidant-rich herbs into the treatment, Dr.
                Emua's approach help counteract the oxidative damage associated
                with autoimmune conditions, promoting overall cellular health.
                Supporting Gut Health: Growing evidence suggests a strong
                connection between gut health and autoimmune conditions. Dr.
                Emua's herbal treatment include herbs that support gut function
                and help restore the balance of the gut microbiome, potentially
                impacting the immune system and reducing symptoms. Stress
                Reduction: Stress has been linked to autoimmune flare-ups and
                disease progression. Herbal ingredients with adaptogenic
                properties, known to help the body adapt to stress, are included
                in Dr. Emua's treatment. This helps individuals manage stress
                and potentially minimize the impact on their autoimmune
                condition. It is important to note that while Dr. Emua's herbal
                treatment offers an alternative approach. In conclusion, Dr.
                Emua's herbal treatment presents a beneficial approach for
                individuals seeking to address the underlying causes of their
                autoimmune conditions. By incorporating natural plant extracts
                and essential oils known for their immune-modulating and
                anti-inflammatory properties, this holistic treatment provides
                support for immune function, reduce inflammation, and promote
                overall well-being.
              </p>
            </div>
            <div class="tab_item tab_item_2" style="display: none">
              <h3>Viral STDs (herpes, HPV, ebv)</h3>
              <p>
                Doctor Emua's Herbal Viral Flush is a natural treatment option
                for viral STDs, offering antiviral, immune-boosting, and
                anti-inflammatory effects. Thingredients in the Viral Flush
                possess properties that can directly inhibit the replication and
                spread of viruses. Doctor Emua's Herbal Viral Flush takes a
                holistic approach by focusing on the underlying viral infection
                rather than just managing symptoms. By addressing the root
                cause, this natural treatment may offer a more comprehensive and
                sustainable approach to managing viral STDs. It targets the
                viral infection and supports the body's natural defense
                mechanisms. Incorporating this herbal treatment into a
                comprehensive diet plan, including regular testing and safe sex
                practices, can contribute to the effective management of viral
                STDs.
              </p>
            </div>
            <div class="tab_item tab_item_3" style="display: none">
              <h3>Detox</h3>
              <p>
                Doctor Emua's Herbal Detox Extract and Tea - Supporting the
                Body's Natural Cleansing Process Dr. Emua's Herbal Detox Extract
                and Tea offer a natural solution for individuals seeking to
                support their body's detoxification process. This herbal blend
                is specifically formulated to help eliminate toxins, promote
                organ health, and rejuvenate the body. The unique combination of
                herbs and botanical extracts in Doctor Emua's Herbal Detox
                Extract and Tea offers several benefits for detoxification:
                Liver Support: The liver is a key organ involved in
                detoxification, and Doctor Emua's herbal blend contain
                ingredients like milk thistle, dandelion root, or burdock root,
                which are traditionally used to support liver function. These
                herbs promotes liver detoxification, enhance bile flow, and
                protect liver cells from damage caused by toxins. Kidney Health:
                The kidneys play a vital role in filtering waste and toxins from
                the body. Doctor Emua's herbal blend include herbs such as
                nettle leaf or parsley, which are known for their diuretic
                properties and ability to support kidney function. These herbs
                help flush out toxins and promote healthy urinary elimination.
                Digestive Cleansing: A healthy digestive system is crucial for
                effective detoxification. Doctor Emua's herbal blend contain
                herbs like ginger, fennel, or peppermint, which are commonly
                used to support digestion and promote bowel regularity. These
                herbs aid in the removal of waste and toxins from the digestive
                tract. Antioxidant Protection: Many of the herbs used in Doctor
                Emua's blend are rich in antioxidants, which help protect cells
                from oxidative stress caused by toxins. Antioxidants, such as
                those found in green tea or turmeric, can neutralize harmful
                free radicals and reduce cellular damage, supporting the body's
                detoxification process. Overall Wellness Support: Doctor Emua's
                Herbal Detox Extract and Tea take a holistic approach to
                detoxification, aiming to support the body's natural cleansing
                processes and promote overall wellness. By incorporating this
                herbal blend into a comprehensive detox plan, individuals may
                experience increased energy levels, improved digestion, and a
                sense of rejuvenation. While Dr. Emua's Herbal Detox Extract and
                Tea offer a natural approach to supporting detoxification, it is
                essential to adopt other healthy lifestyle practices as well.
                This includes consuming a balanced diet, staying hydrated,
                engaging in regular exercise, managing stress levels, and
                minimizing exposure to toxins. In conclusion, Doctor Emua's
                Herbal Detox Extract and Tea provide a natural solution to
                support the body's detoxification process. By incorporating this
                herbal blend into a comprehensive detox plan, individuals will
                experience potential benefits such as liver and kidney support,
                digestive cleansing, antioxidant protection, and overall
                wellness.
              </p>
            </div>
            <div class="tab_item tab_item_4" style="display: none">
              <h3>Cure for Hepatitis B virus (HBV)</h3>
              <p>
                Hepatitis B is an infectious disease caused by the Hepatitis B
                virus (HBV) which affects the liver. It can cause both acute and
                chronic infections. Many people have no symptoms during the
                initial infection. Some develop a rapid onset of sickness with
                vomiting, yellow skin, feeling tired, dark urine and abdominal
                pain. Often these symptoms last a few weeks and rarely does the
                initial infection result in death. It may take 30 to 180 days
                for symptoms to begin. In those who get infected around the time
                of birth 90% develop chronic hepatitis B while less than 10% of
                those infected after the age of five do. Most of those with
                chronic disease have no symptoms; however, cirrhosis and liver
                cancer may eventually develop.These complications results in the
                death of 15 to 25% of those with chronic disease.The virus is
                transmitted by exposure to infectious blood or body fluids.
                Infection around the time of birth or from contact with other
                people's blood during childhood is the most frequent method by
                which hepatitis B is acquired in areas where the disease is
                common
              </p>
            </div>
            <div class="tab_item tab_item_5" style="display: none">
              <h3>Other Health Issues</h3>
              <p>
                Doctor Emua's herbal treatments provide a natural approach to
                solving health problems. Individualized Formulations: Dr. Emua's
                herbal treatments are tailored to address specific health
                concerns. Each formulation contain a combination of herbs and
                botanicals that target the underlying causes of the problem,
                aiming to restore balance and promote overall well-being. This
                individualized approach recognizes that different individuals
                may have unique needs and health challenges. Holistic Wellness:
                Doctor Emua's herbal treatments often take a holistic approach
                to wellness. They consider the interconnectedness of various
                body systems and aim to address the root causes of health
                problems rather than just managing symptoms. By focusing on the
                whole person, these treatments promote long-term healing and
                support overall health and vitality. Doctor Emua's herbal
                treatments are often designed to support the body's natural
                healing processes. The herbs and botanicals used in these
                treatments possess properties that can promote immune function,
                reduce inflammation, support organ health, or aid in
                detoxification. These individualized formulations harness the
                power of herbs and botanicals to support the body's natural
                healing processes. With a holistic focus on wellness, these
                treatments aim to address the root causes of health issues and
                promote overall well-being. By utilizing synergistic effects and
                supporting organ health, immune function, and detoxification,
                Dr. Emua's herbal treatments offer benefits for individuals
                seeking alternative or complementary solutions. <br> <hr> <br>
                <b>Other Treatments</b> <br> <br>
                Also Available are Herbal Remedies for: Fibromyalgia, * Endometriosis, * Pemphigoid, * Irritable Bowel Syndrome (IBS), * Sarcoidosis, * Scleroderma, * Diabetes, * ILD, * Glaucoma, * Primary Lateral Sclerosis (PLS), * Psoriasis, * Celiac Disease, * ALS (Lou Gehrig’s Disease), * Ankylosing Spondylitis, * Autism Spectrum Disorders, * Behcet’s Disease, * Alzheimer’s Disease, * Chronic Fatigue Syndrome, * CREST syndrome, * Crohn’s Disease, * Multiple Sclerosis (MS), * Parkinson’s Disease, * Rheumatoid Arthritis, * Emphysema (COPD), * Atrial fibrillation, * Thyroid/adrenyl, * Extremities Lymphodemia, * Stiff Person Syndrome (SPS), * Systemic Lupus (SLE), * Transverse Myelitis, * Ulcerative Colitis, * Wegener’s Granulomatosis, * Bronchiectasis, * Pulmonary fibrosis…and Many More not mentioned..
              </p>
            </div>
          </div>
          <div class="tab_foot flex_align_justify">
            <a
              href="{% url 'myAppurl:contact' %}"
              style="
                text-decoration: none;
                font-size: 14px;
                padding: 4px 4px;
                margin: 0;
                background: gray;
                color: #000;
                border-radius: 5px;
              "
            >
              Contact Doctor Emua
            </a>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'footer.html' %}

    <script>
      var tab_lists = document.querySelectorAll(".tabs_list ul li");
      var tab_items = document.querySelectorAll(".tab_item");

      tab_lists.forEach(function (list) {
        list.addEventListener("click", function () {
          var tab_data = list.getAttribute("data-tc");

          tab_lists.forEach(function (list) {
            list.classList.remove("active");
          });
          list.classList.add("active");

          tab_items.forEach(function (item) {
            var tab_class = item.getAttribute("class").split(" ");
            if (tab_class.includes(tab_data)) {
              item.style.display = "block";
            } else {
              item.style.display = "none";
            }
          });
        });
      });
    </script>
  </body>
</html>
