<section data-exad-particle-enable="false" class="elementor-section elementor-top-section elementor-element elementor-element-b27d055 elementor-section-boxed elementor-section-height-default elementor-section-height-default exad-parallax-effect-no exad-background-color-change-no exad-glass-effect-no exad-sticky-section-no" data-id="b27d055" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-07d5347 exad-glass-effect-no exad-sticky-section-no" data-id="07d5347" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-fdeec4d exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-heading" data-id="fdeec4d" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
    <h2 class="elementor-heading-title elementor-size-default">How it Works</h2> </div>
    </div>
    <div class="elementor-element elementor-element-dd79617 exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-spacer" data-id="dd79617" data-element_type="widget" data-widget_type="spacer.default">
    <div class="elementor-widget-container">
    <div class="elementor-spacer">
    <div class="elementor-spacer-inner"></div>
    </div>
    </div>
    </div>
    <section data-exad-particle-enable="false" class="elementor-section elementor-inner-section elementor-element elementor-element-6464eac elementor-section-boxed elementor-section-height-default elementor-section-height-default exad-parallax-effect-no exad-background-color-change-no exad-glass-effect-no exad-sticky-section-no" data-id="6464eac" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-563349f exad-glass-effect-yes exad-sticky-section-no" data-id="563349f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-cfbb1da exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-exad-infobox" data-id="cfbb1da" data-element_type="widget" data-widget_type="exad-infobox.default">
    <div class="elementor-widget-container">
    <div class="exad-infobox">
    <div class="exad-infobox-item exad-infobox-align-center exad-infobox-icon-position-center exad-infobox-enable-box-yes simple-transition">
    <div class="exad-infobox-icon style_1">
    <i>1</i>
    </div>
    <div class="exad-infobox-content">
    <h3 class="exad-infobox-content-title">Contact Doctor Emua</h3>
    <div class="exad-infobox-content-description">Tell Us About your medical history and symptoms of your illness</div> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c9ead1f exad-glass-effect-yes exad-sticky-section-no" data-id="c9ead1f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-2de2ed1 exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-exad-infobox" data-id="2de2ed1" data-element_type="widget" data-widget_type="exad-infobox.default">
    <div class="elementor-widget-container">
    <div class="exad-infobox">
    <div class="exad-infobox-item exad-infobox-align-center exad-infobox-icon-position-center exad-infobox-enable-box-yes simple-transition">
    <div class="exad-infobox-icon style_1">
    <i>2</i>
    </div>
    <div class="exad-infobox-content">
    <h3 class="exad-infobox-content-title">personalised care</h3>
    <div class="exad-infobox-content-description">We'll then provide you with a tailored treatment plan
    </div> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-701ad96 exad-glass-effect-yes exad-sticky-section-no" data-id="701ad96" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-e2b74c3 exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-exad-infobox" data-id="e2b74c3" data-element_type="widget" data-widget_type="exad-infobox.default">
    <div class="elementor-widget-container">
    <div class="exad-infobox">
    <div class="exad-infobox-item exad-infobox-align-center exad-infobox-icon-position-center exad-infobox-enable-box-yes simple-transition">
    <div class="exad-infobox-icon style_1">
    <i>3</i>
    </div>
    <div class="exad-infobox-content">
    <h3 class="exad-infobox-content-title">Get next day delivery</h3>
    <div class="exad-infobox-content-description">Receive genuine herbal medications shipped discreetly to your door
    </div> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <div class="elementor-element elementor-element-de7cbd1 exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-spacer" data-id="de7cbd1" data-element_type="widget" data-widget_type="spacer.default">
    <div class="elementor-widget-container">
    <div class="elementor-spacer">
    <div class="elementor-spacer-inner"></div>
    </div>
    </div>
    </div>
    <div class="exad-link-anything-wrapper elementor-element elementor-element-8fbb88d elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width exad-sticky-section-no exad-glass-effect-no elementor-widget elementor-widget-icon-list" data-exad-element-link="{&quot;url&quot;:&quot;&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;,&quot;custom_attributes&quot;:&quot;&quot;}" style="cursor: pointer" data-id="8fbb88d" data-element_type="widget" data-widget_type="icon-list.default">
    <div class="elementor-widget-container">
    <ul class="elementor-icon-list-items elementor-inline-items">
    <li class="elementor-icon-list-item elementor-inline-item">
    <span class="elementor-icon-list-icon">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </span>
    <span class="elementor-icon-list-text"> <a style="color: #FFFFFF;" href="{% url 'myAppurl:herbal' %}"> view process in full</a> </span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>