{% load static %}
<link rel="stylesheet" href="{% static './mission.css'%}" />

<section>
  <div class="box-content">
    <div class="mission">
      <h2>MISSION</h2>
      <div class="content">
        <p>
          it is our Mission to extend the healing power of herbs to underserved
          people around the world through the various gifts of nature.
        </p>
        <img src="../static/first.PNG" alt="" />
      </div>
    </div>

    <div class="mission">
      <h2>VISION</h2>
      <div class="center">
        
          <img src="../static/second.PNG" alt="" />
        

        <p>
          offer an opportunity to living a healthy balanced life through the use
          of herbal medicine. provide healing to underserved people around the
          world. Encourage and empower other organizations to utilize our herbal
          practice and its application around the world.
        </p>
      </div>
    </div>

    <div class="mission">
      <h2>STANDARD</h2>
      <div class="content">
        <p>
          To provide medical services through herbs with compassion and
          conviction while maintaining absolute financial and moral integrity
          and To provide comprehensive, whole-person care regardless of
          circumstance, status or religion and to facilitate a life changing
          experience for our patients.
        </p>
        <img src="../static/third.PNG" alt="" />
      </div>
    </div>
  </div>
</section>
