{% load static %}
<link rel="stylesheet" href="{% static './video.css'%}" />

<div class="review">
    <h2>Product & Review</h2>
    <div class="videoCard">
        <div class="video">
            <video src="{% static './video/girl3.mp4'%}" style="width: 100%; height: 100%;" controls ></video>
        </div>
          <div class="video">
            <video src="{% static './video/vid1.mp4'%}" style="width: 100%; height: 100%;" controls ></video>
        </div>
          <div class="video">
            <video src="{% static './video/vid4.mp4'%}" style="width: 100%; height: 100%;" controls ></video>
        </div>
          <div class="video">
            <video src="{% static './video/vid2.mp4'%}" style="width: 100%; height: 100%;" controls></video>
        </div>
    </div>
</div>